<div class="layout-2cols">
  <div class="content grid_8">
    <div class="single-page">
      <div class="wrapper-box box-post-comment">
        <h2 class="common-title">About Anaoh</h2>
        <div class="box-white">
          <p class="rs">
            Anaoh is a movie croudfunding system for the world.
          </p>
          <p class="rs">
            more content to add here
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar grid_4">
    <div class="box-gray">
      <h3 class="title-box">Who is behind?</h3>
      Description about the team goes here
    </div>
  </div>
  <div class="clear"></div>
</div>
