<div class="layout-2cols">
  <div class="content grid_8">
    <div class="single-page">
      <div class="wrapper-box box-post-comment">
        <h2 class="common-title">Contact Us</h2>
        <div class="box-white">
          <form id="contact-form" class="clearfix" action="" method="post" novalidate="novalidate">
            <div class="form form-post-comment">
              <div class="left-input">
                <label for="txt_name_contact">
                  <input id="txt_name_contact" type="text" name="name" class="txt fill-width txt-name" placeholder="Enter Your Name">
                </label>
                <label for="txt_email_contact">
                  <input id="txt_email_contact" type="email" name="email" class="txt fill-width txt-email valid" placeholder="Enter Your Email" value="">
                </label>
              </div>
              <div class="right-input">
                <label for="txt_content_contact">
                  <textarea name="message" id="txt_content_contact" cols="30" rows="10" class="txt fill-width" placeholder="Your message"></textarea>
                </label>
              </div>
              <div class="clear"></div>
              <p class="rs ta-r clearfix">
                <span id="response"></span>
                <input type="submit" class="btn btn-white btn-submit-comment" value="Send">
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar grid_4">
    <div class="box-gray">
      <h3 class="title-box">Contact info</h3>
      <p class="rs description pb20">Thanks for be with us. Please visit us and have fun with us.</p>
      <p class="rs pb20">
        <span class="fw-b">Address</span>: No.301, Srinidhi Regency, Kaikodinahalli, Sarjapur Road, Bangalore
      </p>
      <p class="rs pb20">
        <span class="fw-b">Phone</span>:  +91 9886356363 (9AM - 6PM IST)
      </p>
      <p class="rs pb20">
        <span class="fw-b">Email</span>: <a href="mailto:anaoh@expandme.in" class="be-fc-orange">anaoh@expandme.in</a>
      </p>
    </div>
  </div>
  <div class="clear"></div>
</div>
