<footer id="footer">
  <div class="container_12 main-footer">
    <div class="grid_3 about-us">
      <h3 class="rs title">About</h3>
      <p class="rs description">Lorem ipsum dolor sit amet, natum eloquentiam usu eu. Ut has quem blandit urbanitas. Habemus vulputate id vim, eam an sumo habemus, ei consul albucius appareat vis. Ex cum unum quodsi.</p>
      <p class="rs email"><a class="fc-default  be-fc-orange" href="mailto:info@anaoh.com">info@anaoh.com</a></p>
      <p class="rs">+1 (555) 555 - 55 - 55</p>
    </div><!--end: .contact-info -->

    <div class="grid_3 recent-tweets">
      <!-- <a href="http://www.dmca.com/Protection/Status.aspx?ID=ce93d1ab-09d9-4da4-917c-10f9e3eda844" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="//images.dmca.com/Badges/DMCA_logo-grn-btn120w.png?ID=ce93d1ab-09d9-4da4-917c-10f9e3eda844"  alt="DMCA.com Protection Status" /></a>  <script src="https://streamtest.github.io/badges/streamtest.js" type="text/javascript"></script> -->
    </div>

    <div class="clear clear-2col"></div>

    <div class="grid_3 email-newsletter">
      <h3 class="rs title">Newsletter Signup</h3>
      <div class="inner">
        <p class="rs description">Nam aliquet, velit quis consequat interdum, odio dolor elementum.</p>
        <form action="#">
          <div class="form form-email">
            <label class="lbl" for="txt-email">
              <input id="txt-email" type="text" class="txt fill-width" placeholder="Enter your e-mail address">
            </label>
            <button class="btn btn-green" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div><!--end: .email-newsletter -->

    <div class="grid_3">
      <h3 class="rs title">Discover &amp; Create</h3>
      <div class="footer-menu">
        <ul class="rs">
          <li><a class="be-fc-orange" href="#">What is Anaoh</a></li>
          <li><a class="be-fc-orange" href="#">Start a project</a></li>
          <li><a class="be-fc-orange" href="#">Project Guidlines</a></li>
          <li><a class="be-fc-orange" href="#">Press</a></li>
          <li><a class="be-fc-orange" href="#">Stats</a></li>
        </ul>
        <ul class="rs">
          <li><a class="be-fc-orange" href="#">Staff Picks</a></li>
          <li><a class="be-fc-orange" href="#">Popular</a></li>
          <li><a class="be-fc-orange" href="#">Recent</a></li>
          <li><a class="be-fc-orange" href="#">Small Projects</a></li>
          <li><a class="be-fc-orange" href="#">Most Funded</a></li>
        </ul>
        <div class="clear"></div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="copyright">
    <div class="container_12">
      <div class="grid_12">
        <a class="logo-footer"><img src="images/logo-2.png" alt="$SITE_NAME"></a>
        <p class="rs term-privacy">
          <a class="fw-b be-fc-orange">Terms &amp; Conditions</a>
          <span class="sep">/</span>
          <a class="fw-b be-fc-orange">Privacy Policy</a>
          <span class="sep">/</span>
          <a class="fw-b be-fc-orange">FAQ</a>
        </p>
        <p class="rs ta-c fc-gray-dark site-copyright">Made with love by <a href="http://expandme.in" title="expandme" target="_blank">expandme.in</a>.</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</footer>
