<header id="header" data-ng-controller="LoginCtrl">

  <div class="wrap-top-menu">
    <div class="container_12 clearfix">
      <div class="grid_12">
        <nav class="top-menu">
          <ul id="main-menu" class="nav nav-horizontal clearfix">
            <li  ui-sref-active="active"><a ui-sref="home">Home</a></li>
            <li class="sep"></li>
            <li  ui-sref-active="active"><a ui-sref="about">About</a></li>
            <li class="sep"></li>
            <li  ui-sref-active="active"><a ui-sref="howItWorks">How it works</a></li>
            <li class="sep"></li>
            <li  ui-sref-active="active"><a ui-sref="contact">Contact</a></li>
          </ul>
        </nav>
        <div class="top-message clearfix" style="cursor: pointer;" ng-show="isAuthenticated()">
          <ul id="main-menu" class="nav nav-horizontal clearfix">
            <li  ui-sref-active="active"><a ui-sref="dashboard">Dashboard</a></li>
            <li class="sep"></li>
            <li  ui-sref-active="active"><a ui-sref="profile-edit">Profile</a></li>
          </ul>
        </div>
        <!-- <div class="top-message clearfix" style="cursor: pointer;" ng-show="isAuthenticated()" ng-click="dashboard()">
          <i class="fa fa-user"></i>
          <span class="txt-message">Dashboard</span>
          <div class="clear"></div>
        </div> -->
        <i id="sys_btn_toggle_search" class="icon iBtnRed make-right"></i>
      </div>
    </div>
  </div><!-- end: .wrap-top-menu -->

  <div class="container_12 clearfix">
    <div class="grid_12 header-content">
      <div id="sys_header_right" class="header-right">
        <div class="account-panel">
          <a href="#!/register" class="btn btn-red sys_show_popup_login" ng-hide="isAuthenticated()">Register</a>
          <a class="btn btn-black sys_show_popup_login" ng-click="toggleModal()" ng-hide="isAuthenticated()">Login</a>
          <a class="btn btn-red sys_show_popup_login" ng-click="logout()" ng-show="isAuthenticated()">Logout</a>
          <modal-dialog show='modalShown' width='500px' height='450px'>
          <div class="overlay-bl-bg"></div>
          <div class="container_12 pop-content">
            <div class="grid_6">
              <div class="form login-form">
                <form ng-submit="submit(user)">
                  <h3 class="rs title-form">Login</h3>
                  <div class="box-white">
                    <h4 class="rs title-box">Already Have an Account?</h4>
                    <p class="rs">Please log in to continue.</p>
                    <div class="form-action">
                      <label for="txt_email_login">
                        <input id="txt_email_login" class="txt fill-width" type="text" ng-model="user.username" placeholder="Enter your username">
                      </label>
                      <label for="txt_password_login">
                        <input id="txt_password_login" class="txt fill-width" type="password" ng-model="user.password" placeholder="Enter password">
                      </label>
                      <p class="rs ta-c pb10">
                        <button class="btn btn-red btn-submit" type="submit">Login</button>
                      </p>
                      <p class="rs ta-c">
                        <a href="#" class="fc-orange">I forgot my password</a>
                      </p>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="clear"></div>
          </div>
          </modal-dialog>
        </div>
      <div class="form-search" data-ng-controller="HeaderCtrl">
        <form action="#">
          <label for="sys_txt_keyword">
            <input id="sys_txt_keyword" ng-morph-overlay="settings" class="txt-keyword" type="text" placeholder="Search for Scripts or Jobs">
          </label>
          <button class="btn-search" type="reset"><i class="icon iMagnifier"></i></button>
        </form>
      </div>
    </div>
    <div class="header-left">
      <h1 id="logo">
        <a href="#/">ANAOH</a>
      </h1>
      <div class="main-nav clearfix">
        <div class="nav-item">
          <a class="nav-title">Discover</a>
          <p class="rs nav-description">Great Projects</p>
        </div>
          <span class="sep" ng-show="isAuthenticated()"></span>
          <div class="nav-item" ng-show="isAuthenticated()">
            <a ui-sref="scriptCreate" class="nav-title">Start</a>
            <p class="rs nav-description">Your Project</p>
          </div>
          <span class="sep" ng-show="isAuthenticated()"></span>
          <div class="nav-item" ng-show="isAuthenticated()">
            <a ui-sref="createJob" class="nav-title">Post</a>
            <p class="rs nav-description">Your Job</p>
          </div>
      </div>
    </div>
  </div>
</div>
</header>
