<div class="container_12" data-ng-controller="LoginCtrl">
  <div class="how-it-work">
    <div class="grid_12 short-introduce">
      <h3 class="rs title"><span class="fc-black">Easy way to realize</span> your dream</h3>

      <div class="box-introduce">
        <div class="wrap-2col">
          <div class="left-intro">
            <h4 class="rs title-intro">Start your project at Anaoh!</h4>
            <p class="rs pb20">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc,
            blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
            <p class="rs pb20">Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero
              venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis
              leo. Nam eget dui. Etiam rhoncus. </p>
            <a ng-hide="isAuthenticated()" class="btn btn-red btn-star-project" href="#!/register">
              <span class="lbl">Start project</span>
            </a>
          </div>
            <div class="right-intro"><img src="images/cine.jpg" class="" alt="$DESCRIPTION"></div>
            <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="grid_4 box-text-content">
      <h4 class="rs title-in-box">
      <img src="images/icons/inspiration.png" class="" alt="$DESCRIPTION">
      you have a amazing idea</h4>
      <p class="rs"></p>
    </div>
    <div class="grid_4 box-text-content">
      <h4 class="rs title-in-box">
      <img src="images/icons/contract11.png" class="" alt="$DESCRIPTION">
      You create your script</h4>
      <p class="rs"></p>
    </div>
    <div class="grid_4 box-text-content">
      <h4 class="rs title-in-box">
      <img src="images/icons/team2.png" class="" alt="$DESCRIPTION">
      People gets connected</h4>
      <p class="rs"></p>
    </div>
    <div class="clear"></div>
    <div class="grid_4 box-text-content">
      <h4 class="rs title-in-box">
      <img src="images/icons/phone322.png" class="" alt="$DESCRIPTION">
      Discuss with investors</h4>
      <p class="rs"></p>
    </div>
    <div class="grid_4 box-text-content">
      <h4 class="rs title-in-box">
      <img src="images/icons/savings1.png" class="" alt="$DESCRIPTION">
      Get funds</h4>
      <p class="rs"></p>
    </div>
    <div class="grid_4 box-text-content">
      <h4 class="rs title-in-box">
      <img src="images/icons/cinema26.png" class="" alt="$DESCRIPTION">
      You got Direction</h4>
      <p class="rs"></p>
    </div>
    <div class="clear"></div>
    <div class="grid_4 box-text-content">
      <h4 class="rs title-in-box">
      <img src="images/icons/video107.png" class="" alt="$DESCRIPTION">
      Movie starts building</h4>
      <p class="rs"></p>
    </div>
    <div class="grid_4 box-text-content">
      <h4 class="rs title-in-box">
      <img src="images/icons/video190.png" class="" alt="$DESCRIPTION">
      Movie goes to production</h4>
      <p class="rs"></p>
    </div>
    <div class="grid_4 box-text-content">
      <h4 class="rs title-in-box">
      <img src="images/icons/money132.png" class="" alt="$DESCRIPTION">
      You get profit</h4>
      <p class="rs"></p>
    </div>
    <div class="clear"></div>
  </div>
</div>
