<div class="container" style="background: rgba(43,46,51,1);color:#4f5051;padding:20px" >
  <style type="text/css">
      input.search-text {
          background-color:transparent;
          border:none;
          font-weight:100;
          font-size:75px;
          height:100%;
          color:#ffffff;
      }
      ul.search-results-list {
          padding: 0;
      }
      ul.search-results-list li {
          display: block;
          padding: 2px;
      }
      ul.search-results-list li a {
          padding: 15px 10px;
          color: rgba(145, 145, 145, 0.7);
          background: rgba(118, 117, 128, 0.05);
          display:block;
          font-weight: bold;
      }
      ul.search-results-list li a .tool-name {
          color: rgba(145, 145, 145, 0.4);
          float: right;
          font-weight: normal;
      }
      ul.search-results-list li a:hover {
          text-decoration: none;
          background: rgba(118, 117, 128, 0.1);
          color: #fff;
      }
      ul.search-results-list li a:hover .tool-name {
          color: #ccc;
      }
  </style>
  <div class="row">
    <div class="col-md-10">
      <input class="form-control search-text"
        ng-model="search.searchQ" ng-model-options="{debounce: {'default':500}}"
        ng-change="search.search()"
        type="text" placeholder="Search..." ga-text="search.searchQ"
        data-event_category="P_MainSearch" data-event_action="MainSearch_Content">
    </div>
    <div class="col-md-2">
      <div padding-top="25px">
        <a href="#" style="float: left; position: absolute; top:30%">
          <span>
            <i class="fa fa-search fa-5x" style="color:#4f5051; font-size:75px;"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6" ng-if="search.results.scripts.length > 0">
      <h2 style="color:#ffffff;">Script</h2>
      <ul class="search-results-list">
        <li ng-repeat="script in search.results.scripts">
          <a target="_blank" ng-href="#!/script/{{script.id}}">
            {{script.title}}<span class="tool-name">{{script.type}}</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6" ng-if="search.results.jobs.length > 0">
      <h2 style="color:#ffffff">Jobs</h2>
      <ul class="search-results-list">
        <li ng-repeat="job in search.results.jobs">
          <a target="_blank" ng-href="#!/job/{{job.id}}">
            {{job.title}}<span class="tool-name">{{job.type}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

