<div class="container script-wall" style="margin-top: 20px; margin-bottom: 20px;padding-top:1%;" ng-class="{'funded-script': details.investors.count > 0}">
  <div class="row">
    <div class="col-md-4 bg_blur ">
      <img class="wall-image" ng-src="{{details.productDetails.coverImage}}" alt="">
      <a href="#" class="follow_btn hidden-xs">Follow</a>
    </div>
    <div class="col-md-8  col-xs-12">
      <img src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" class="img-thumbnail picture hidden-xs" />
      <img src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" class="img-thumbnail visible-xs picture_mob" />
      <div class="header">
        <h1>{{details.productDetails.title}}
        <span ng-if="details.investors.count > 0" class="label label-success pull-right">FUNDED</span>
        <span ng-if="!details.investors.count > 0" class="label label-primary pull-right">NOT FUNDED</span>

        </h1>
        <h4>By {{details.productDetails.creatorName}} <i class="icon iLocation"></i> <small>{{details.productDetails.location}}</small> <span class="pull-right">#{{details.productDetails.uniqueId}}</span></h4>
        <span ng-bind-html="details.productDetails.shortDescription"></span>
       </div>
    </div>
  </div>

  <div class="row nav">
    <div class="col-md-4"></div>
    <div class="col-md-8 col-xs-12" style="margin: 0px;padding: 0px;">
      <div is-active class="col-md-4 col-xs-4 well" ng-class="::{'item-active':wallPost}" ng-click="loadWall()"><i class="fa fa-weixin fa-lg"></i> 16</div>
      <div is-active class="col-md-4 col-xs-4 well" ng-click="loadLikes()"><i class="fa fa-heart-o fa-lg"></i> {{details.recommendations.count}}</div>
      <div is-active class="col-md-4 col-xs-4 well" ng-click="loadRecommendation()"><i class="fa fa-thumbs-o-up fa-lg"></i> 26</div>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 20px; margin-bottom: 20px;">
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="panel panel-default wall-panel">
        <div class="panel-heading wall-panel-heading">
          <h3 class="panel-title">ABOUT SCRIPT</h3>
        </div>
        <div class="panel-body">
        {{details.productDetails.summary}}
        </div>
      </div>
      <div class="panel panel-default wall-panel">
        <div class="panel-heading wall-panel-heading">
          <h3 class="panel-title">CONNECTIONS</h3>
        </div>
        <div class="panel-body" style="padding-top:4%">
          <div class="row grid">
            <div class="col-xs-3" ng-repeat="connection in details.connections">
              <a href="#" class="thumbnail">
              <img class="wall-thumb" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" alt="{{connection.name}}" title="{{connection.name}}" />
              <small>{{connection.name}}</small>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default wall-panel">
        <div class="panel-heading wall-panel-heading">
          <h3 class="panel-title">INVESTORS</h3>
        </div>
        <div class="panel-body" style="padding-top:4%">
          <div class="row grid">
            <div class="col-xs-3" ng-repeat="investor in details.investors.list">
              <a href="#" class="thumbnail">
              <img class="wall-thumb" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" alt="{{investor.name}}" title="{{investor.name}}" />
              <small>{{investor.name}}</small>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <!--Wall post and updates tab -->
      <div class="wall-post" ng-show="wallPost">
        <div class="panel panel-default wall-panel">
          <div class="panel-heading wall-panel-heading">
            <h3 class="panel-title">ACTIVITY</h3>
          </div>
          <div class="panel-body">
            <ul class="timeline" data-spy="affix" data-offset-top="3">
              <li>
              <div class="timeline-panel">
                <form method="post" role="form" enctype="multipart/form-data" class="facebook-share-box">
                  <div class="timeline-body">
                    <div class="share-form">
                      <ul class="post-types">
                        <li class="post-type">
                        <a class="status" id="shareType"><i class="fa fa-file"></i> Status</a>
                        </li>
                        <li class="post-type">
                        <a class="photos" id="shareType"><i class="fa fa-camera"></i> Photos</a>
                        </li>
                        <li class="post-type">
                        <a class="videos" id="shareType"><i class="fa fa-film"></i> Video</a>
                        </li>
                      </ul>
                      <div class="share">
                        <div class="arrow"></div>
                        <div><textarea name="message" cols="40" rows="10" id="status_message" class="form-control message" style="height: 62px; overflow: hidden;" placeholder="What's on your mind ?"></textarea> </div>
                        <div ng-include="currentTab"></div>

                        <div class="image hide" id="image">
                          <input type="file" class="form-control" name="image" id="image" />
                        </div>
                        <div class="video hide" id="video">
                          <input type="text" class="form-control" placeholder="Youtube or Vimeo video URL" id ="videoUrl" name="videoUrl" />
                        </div>
                        <div class="place hide" id="place">
                          <input id="geocomplete" class="form-control" type="text" name="location" placeholder="Enter a location">
                          <div class="map_canvas"></div>
                          <input type="hidden" name="lat" />
                          <input type="hidden" name="lng" />
                        </div>
                        <input type="hidden" name="shareType" class="shareType" value="status"/>
                      </div>
                      </div>
                  </div>
                  <div class="timeline-footer clearfix">
                    <div class="pull-right">
                      <input type="submit" name="submit" value="Post" id="btn-share" class="btn btn-primary" />
                    </div>
                  </div>
                </form>
              </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="wall">
          <ul class="timeline" id="wall-append">
            <li class="post-list" id="917">
              <div class="timeline-panel">
                <div class="timeline-header">
                  <div class="row">
                    <div class="col-xs-2">
                      <img class="img-responsive img-rounded" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg">
                    </div>
                    <div class="col-xs-8">
                      <a>Deepjyoti </a> shared 1 hour ago
                    </div>
                  </div>
                </div>

              <div class="timeline-heading"></div>
                <div class="timeline-body">
                  <p>jawed</p>
                </div>
              </div>
            </li>

            <li class="post-list" id="910">
              <div class="timeline-panel">
                <div class="timeline-header">
                  <div class="row">
                    <div class="col-xs-2">
                      <img class="img-responsive img-rounded" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg">
                    </div>
                    <div class="col-xs-8">
                      <a>Deepjyoti </a> shared 20 hours ago
                    </div>
                  </div>
                </div>
                <div class="timeline-heading">
                  <img class="img-responsive" src="http://placehold.it/550x300">
                </div>
                <div class="timeline-body">
                  <p>demo image post</p>
                </div>
              </div>
            </li>

            <li class="post-list" id="910">
              <div class="timeline-panel">
                <div class="timeline-header">
                  <div class="row">
                    <div class="col-xs-2">
                      <img class="img-responsive img-rounded" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg">
                    </div>
                    <div class="col-xs-8">
                      <a>Deepjyoti </a> shared 20 hours ago
                    </div>
                  </div>
                </div>
                <div class="timeline-heading">

                </div>
                <div class="timeline-body">
                  <p>demo video post</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="postloader text-center"><button class="btn btn-default">Load More</button></div>
      </div>

      <!--Likes tab -->
      <div class="panel panel-default wall-panel" ng-show="recommendation">
        <div class="panel-heading wall-panel-heading">
          <h3 class="panel-title">FOLLOWERS</h3>
        </div>
        <div class="panel-body">
          <ul class="timeline" data-spy="affix" data-offset-top="3">
            <li>
              <div class="timeline-panel" style="border:none;box-shadow:none">
                <article class="row">
                  <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                      <figcaption class="text-center">username</figcaption>
                    </figure>
                  </div>
                  <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                      <figcaption class="text-center">username</figcaption>
                    </figure>
                  </div>
                  <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                      <figcaption class="text-center">username</figcaption>
                    </figure>
                  </div>
                  <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                      <figcaption class="text-center">username</figcaption>
                    </figure>
                  </div>
                  <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                      <figcaption class="text-center">username</figcaption>
                    </figure>
                  </div>
                  <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                      <figcaption class="text-center">username</figcaption>
                    </figure>
                  </div>
                  <div class="col-md-2 col-sm-2 hidden-xs">
                    <figure class="thumbnail">
                      <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                      <figcaption class="text-center">username</figcaption>
                    </figure>
                  </div>
                </article>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <!--Recommendation tab -->
      <div class="panel panel-default wall-panel" ng-show="likes">
        <div class="panel-heading wall-panel-heading">
          <h3 class="panel-title">RECOMMENDATION</h3>
        </div>
        <div class="panel-body">
          <ul class="timeline" data-spy="affix" data-offset-top="3">
            <li>
                <div class="timeline-panel" style="border:none;box-shadow:none">
                  <section class="comment-list" style="margin-bottom: 10px;" ng-repeat="recommendation in details.recommendations.list">
                    <article class="row">
                      <div class="col-md-2 col-sm-2 hidden-xs">
                        <figure class="thumbnail">
                          <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                          <figcaption class="text-center">{{recommendation.userName}}</figcaption>
                        </figure>
                      </div>
                      <div class="col-md-10 col-sm-10">
                        <div class="panel panel-default arrow left">
                          <div class="panel-body" style="padding-left: 10px; border: 1px solid #d4d4d4;box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175)">
                            <header class="text-left">
                              <angular-star-rating max="maxValue" value='recommendation.rating'  hover='changeOnHover' is-readonly='isReadonly'></angular-star-rating>
                              {{recommendation.rating}} / {{maxValue}}
                            </header>
                            <div class="comment-post">
                              <p>{{recommendation.summary}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </section>
                </div>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </div>

</div>
