<div class="dashboard-section" ng-show="isAuthenticated()">
  <div class="container_12 clearfix">
    <div class="project-detail">
      <div class="project-tab-detail tabbable accordion">
        <ul class="nav nav-tabs clearfix">
          <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">
            <a href="">{{tab.name}}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div ng-include="currentTab"></div>

          <script type="text/ng-template" id="scripts.tpl.html">
            <div class="tab-pane accordion-content active">
              <div class="lst-popular-project clearfix">
                <h3 > </h3>
                <div class="grid_3" ng-repeat="script in scripts">
                  <div class="project-short sml-thumb">
                    <div class="top-project-info">
                      <div class="content-info-short clearfix">
                        <a href="#!/script/{{script.productId}}" class="thumb-img">
                          <img ng-src="{{script.coverImage}}" alt="$TITLE">
                        </a>
                        <div class="wrap-short-detail">
                          <h3 class="rs acticle-title"><a href="#!/script/{{script.productId}}" class="be-fc-orange">{{script.title}}</a></h3>
                        </div>
                      </div>
                    </div>
                    <div class="bottom-project-info clearfix">
                      <div class="line-progress">
                        <div class="bg-progress">
                          <span class="success" style="width: 60%"></span>
                        </div>
                      </div>
                      <div class="group-fee clearfix">
                        <div class="fee-item">
                          <p class="rs lbl">Progress</p>
                          <span class="val">60%</span>
                        </div>
                        <div class="sep"></div>
                        <div class="fee-item">
                          <p class="rs lbl">Investors</p>
                          <span class="val">{{script.investors}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="bottom-project-info clearfix">
                      <div class="group-fee clearfix">
                        <div class="fee-item">
                          <p class="rs lbl">Connections</p>
                          <span class="val">{{script.connections}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="bottom-project-info clearfix">
                      <div class="group-fee clearfix">
                        <div class="fee-item">
                          <p class="rs lbl">Recommendations &nbsp<a href="#!/script-wall/{{script.productId}}" class="label label-primary pull-right">view wall</a></p>
                          <span class="val">{{script.recommendations}}</span>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </script>
          <script type="text/ng-template" id="connected-scripts.tpl.html">
            <div class="tab-pane accordion-content active">
              <div class="lst-popular-project clearfix">
                  <h3 > </h3>
                  <div class="grid_3" ng-repeat="connection in scriptConnections">
                    <div class="project-short sml-thumb">
                      <div class="top-project-info">
                        <div class="content-info-short clearfix">
                          <a href="#!/script/{{connection.scriptId}}" class="thumb-img">
                            <img ng-src="{{connection.coverImage}}" alt="$TITLE">
                          </a>
                          <div class="wrap-short-detail">
                            <h3 class="rs acticle-title"><a href="#!/script/{{connection.scriptId}}" class="be-fc-orange">{{connection.title}}</a></h3>
                          </div>
                        </div>
                      </div>
                      <div class="bottom-project-info clearfix">
                        <div class="line-progress">
                          <div class="bg-progress">
                            <span class="success" style="width: 60%"></span>
                          </div>
                        </div>
                        <div class="group-fee clearfix">
                          <div class="fee-item">
                            <p class="rs lbl">Progress</p>
                            <span class="val">60%</span>
                          </div>
                          <div class="fee-item" style="float:right">
                            <p class="rs lbl">Status &nbsp</p>
                            <span class="val" ng-show="connection.permissionStatus == 1"> APPROVED</span>
                            <span class="val" ng-hide="connection.permissionStatus == 1">PENDING</span>
                          </div>
                        </div>
                      </div>
                      <div class="bottom-project-info clearfix">
                        <div class="group-fee clearfix">
                          <div class="fee-item">
                            <a href="#!/script-wall/{{connection.scriptId}}" class="btn btn-default">view wall</a>
                          </div>
                          <div class="fee-item" ng-show="connection.permissionStatus == 1 && isCommunicator">
                            <a href="#!/dashboard/{{connection.authorId}}/{{connection.scriptId}}" class="btn btn-default">manage</a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
            </div>
          </script>
          <script type="text/ng-template" id="jobs-replied.tpl.html">
            <div class="tab-pane accordion-content active">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Job Title</th>
                      <th>Script</th>
                      <th>User</th>
                      <th>Applied On</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="job in repliedJobs">
                      <td><a href="#!/jobs/{{ job.productId }}/{{ job.jobId }}" >{{ job.jobTitle }}</a></td>
                      <td><a href="#!/script/{{ job.productId }}" >{{ job.productTitle }}</a></td>
                      <td><a>{{ job.repliedUserName }}</a></td>
                      <td>{{ job.appliedOn}}</td>
                      <td><a class="btn btn-default" ng-click="viewDetails(job)">View details </a></td>
                    </tr>
                  </tbody>

                </table>
            </div>
          </script>
          <script type="text/ng-template" id="appointments.tpl.html">
            <div class="tab-pane accordion-content active">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Appointment Date</th>
                      <th>Booked On</th>
                      <th>Script</th>
                      <th>Appointee Name</th>
                      <th>Appointee Email</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="appointment in appointments">
                      <td>{{ appointment.appointmentDate }}</td>
                      <td>{{ appointment.appointmentBookedOn }}</td>
                      <td><a href="#!/script/{{ appointment.productId }}" >{{ appointment.productTitle }}</a></td>
                      <td><a>{{ appointment.userName }}</a></td>
                      <td>{{ appointment.userEmail }}</td>
                      <td>
                        <a class="btn btn-default">Approve </a>
                        <a class="btn btn-default">Decline </a>
                      </td>
                    </tr>
                  </tbody>

                </table>
            </div>
          </script>
          <!--
          <script type="text/ng-template" id="add-users.tpl.html">
            <div class="tab-pane accordion-content active">
              <form ng-submit="addUser(user)" name="addUserForm">
                <div class="form form-post-job">
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_name1">Name or Email:</label>
                    <div class="val">
                      <angucomplete-alt id="members"
                        placeholder="Search an registered user by name OR email"
                        pause="400"
                        selected-object="selectedUser"
                        remote-url="{{ request_url }}"
                        remote-url-data-field="results"
                        title-field="name"
                        description-field="email"
                        input-class="form-control form-control-small"
                      />
                    </div>
                    {{selectedUser}}
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Associate with:</label>
                      <div class="val">
                        <select class="txt fill-width" ng-model="user.script" ng-options="scripts.title for scripts in scripts track by scripts.productId" required>
                          <option value="" disabled selected>select a script</option>
                        </select>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Choose roles:</label>
                      <div class="val">
                        <label ng-repeat="role in roles" ng-hide="$first" style="display: block; ">
                          <input type="checkbox" checklist-model="user.roles" checklist-value="role.id"> {{role.name}}
                        </label>
                        <p class="rs description-input">select the roles to associate with the script</p>
                      </div>
                  </div>
                  <p class="rs ta-c">
                    <button class="btn big btn-red" type="submit">SUBMIT</button>
                  </p>
                </div>
              </form>
            </div>
          </script>
          -->

          <modal-dialog show='repliedUserDetails' width='80%' height='60%' overflow='auto'>
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Details</div>
                <div class="panel-body" ng-bind-html="detailsIdx"></div>
              </div>
            </div>
          </modal-dialog>
        </div>
      </div><!--end: .project-tab-detail -->
    </div>
  </div><!--end: .content -->

  <!-- <div class="sidebar grid_4">
    <div class="box-gray">
      <h3 class="title-box">Actions</h3>
      <ul class="rs nav nav-category">
        <li>
          <a href="#">
            Create a script
            <i class="icon iPlugGray"></i>
          </a>
        </li>
        <li>
          <a ui-sref="create-job">
            Create a job
            <i class="icon iPlugGray"></i>
          </a>
        </li>
      </ul>
    </div>
  </div> -->
  <div class="clear"></div>
</div>
<div class="layout-2cols register-section" ng-hide="isAuthenticated()">
<p>sorry you are not authorized! Kindly login</p>
</div>
