      <div class="project-tab-detail tabbable accordion">
        <ul class="nav nav-tabs clearfix">
          <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">
            <a href="">{{tab.name}}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div ng-include="currentTab"></div>

          <script type="text/ng-template" id="connected-scripts.tpl.html">

            <div class="box-marked-project project-short inside-tab" ng-repeat="script in connectedScripts">
              <div class="top-project-info">
                <div class="content-info-short clearfix">
                  <a href="#" class="thumb-img">
                    <img ng-src="{{script.image}}" alt="{{script.title}}">
                  </a>
                  <div class="wrap-short-detail">
                    <h3 class="rs acticle-title"><a class="be-fc-orange" href="#">{{script.title}}</a></h3>
                    <p class="rs tiny-desc">by <a href="#" class="fw-b fc-gray be-fc-orange">{{script.author}}</a> in <span class="fw-b fc-gray">{{script.location}}</span></p>
                    <p class="rs title-description">{{script.summary}}</p>
                  </div>
                  <p class="rs clearfix comment-view">
                    <a href="#" class="fc-gray be-fc-orange">75 comments</a>
                    <span class="sep">|</span>
                    <a href="#" class="fc-gray be-fc-orange">378 views</a>
                  </p>
                </div>
              </div>
              <div class="bottom-project-info clearfix">
                <div class="bottom-project-info clearfix">
                  <div class="line-progress">
                    <div class="bg-progress">
                      <span class="success" style="width: {{script.progress}}%"></span>
                    </div>
                  </div>
                  <div class="group-fee clearfix">
                    <div class="fee-item">
                      <p class="rs lbl">Funded</p>
                      <span class="val">{{script.progress}}%</span>
                    </div>
                    <div class="sep"></div>
                    <div class="fee-item">
                      <p class="rs lbl">Pledged</p>
                      <span class="val ng-binding">$20000</span>
                    </div>
                    <div class="sep"></div>
                    <div class="fee-item">
                      <p class="rs lbl">Days Left</p>
                      <span class="val">18</span>
                    </div>
                  </div>
                </div>
                <div class="clear"></div>
              </div>
            </div>
          </script>

          <script type="text/ng-template" id="jobs-listing.tpl.html">
            <div class="tab-pane accordion-content active">
              <div class="box-list-comment">
                <div class="media comment-item" ng-repeat="job in jobs">
                  <a href="#" class="thumb-left">
                    <img src="images/ex/th-90x90-1.jpg" alt="$TITLE">
                  </a>
                  <div class="media-body">
                    <h4 class="rs comment-author">
                      <a href="#" class="be-fc-orange fw-b">{{job.title}}</a>
                    </h4>
                    <p class="rs comment-content">{{job.description}}</p>
                    <p class="rs time-post">5 days ago</p>
                  </div>
                </div>
              </div>
            </div>
          </script>

          <script type="text/ng-template" id="jobs-replied.tpl.html">
            <div class="tab-pane accordion-content active">
              <div class="form form-profile">
              <h4 >List of users replied with job id/title</h4>
              </div>
            </div>
          </script>
        </div>
      </div><!--end: .project-tab-detail -->
