<div class="dashboard-section" ng-show="isAuthenticated()">
  <div class="container_12 clearfix">
    <div class="project-detail">
      <div class="project-tab-detail tabbable accordion">
        <ul class="nav nav-tabs clearfix">
          <li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)">
            <a href="">{{tab.name}}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div ng-include="currentTab"></div>
          <script type="text/ng-template" id="jobs-replied.tpl.html">
            <div class="tab-pane accordion-content active">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Job Title</th>
                      <th>Script</th>
                      <th>User</th>
                      <th>Applied On</th>
                      <th>Action</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr ng-repeat="job in repliedJobs">
                      <td><a href="#!/jobs/{{ job.productId }}/{{ job.jobId }}" >{{ job.jobTitle }}</a></td>
                      <td><a href="#!/script/{{ job.productId }}" >{{ job.productTitle }}</a></td>
                      <td><a>{{ job.repliedUserName }}</a></td>
                      <td>{{ job.appliedOn}}</td>
                      <td><a class="btn btn-default" ng-click="viewDetails(job)">View details </a></td>
                    </tr>
                  </tbody>

                </table>
            </div>
          </script>
          <script type="text/ng-template" id="appointments.tpl.html">
            <div class="tab-pane accordion-content active">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Appointment Date</th>
                      <th>Booked On</th>
                      <th>Script</th>
                      <th>Appointee Name</th>
                      <th>Appointee Email</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="appointment in appointments">
                      <td>{{ appointment.appointmentDate }}</td>
                      <td>{{ appointment.appointmentBookedOn }}</td>
                      <td><a href="#!/script/{{ appointment.productId }}" >{{ appointment.productTitle }}</a></td>
                      <td><a>{{ appointment.userName }}</a></td>
                      <td>{{ appointment.userEmail }}</td>
                      <td>
                        <a class="btn btn-default">Approve </a>
                        <a class="btn btn-default">Decline </a>
                      </td>
                    </tr>
                  </tbody>

                </table>
            </div>
          </script>

          <modal-dialog show='repliedUserDetails' width='80%' height='60%' overflow='auto'>
            <div class="col-md-12">
              <div class="panel panel-default">
                <div class="panel-heading">Details</div>
                <div class="panel-body" ng-bind-html="detailsIdx"></div>
              </div>
            </div>
          </modal-dialog>

        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<div class="layout-2cols register-section" ng-hide="isAuthenticated()">
<p>sorry you are not authorized! Kindly login</p>
</div>
