<!-- <div class="home-feature-category">
  <div class="container_12 clearfix">
    <div class="grid_4 left-lst-category">
      <div class="wrap-lst-category">
        <h3 class="title-welcome rs">Welcome to Anaoh!</h3>
        <p class="description rs">Connecting movie Investor and movie scripts across the world.In anaoh everyone can share their flim ideas and get connected to various investor.</p>
        <nav class="lst-category">
          <ul class="rs nav nav-category">
            <li>
              <a href="#">
                &nbsp
              </a>
            </li>
            <li>
              <a href="#">
                &nbsp
              </a>
            </li>
            <li>
              <a href="#">
                &nbsp
              </a>
            </li>
            <li>
              <a href="#">
               &nbsp
              </a>
            </li>
            <li>
              <a href="#">
                &nbsp
              </a>
            </li>
            <li>
              <a href="#">
                &nbsp
              </a>
            </li>
            <li>
              <a href="#">
                &nbsp
              </a>
            </li>
            <li>
              <a href="#">
                &nbsp
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="grid_8 marked-category">
      <div class="wrap-title clearfix">
        <h2 class="title-mark rs">Successfully Raised: <span class="fc-orange">Regional</span></h2>
        <a href="category.html" class="count-project be-fc-orange">See all</a>
      </div>
      <div class="box-marked-project project-short">
        <div class="top-project-info">
          <div class="content-info-short clearfix">
            <a href="#!/script/{{max_funded_product.productId}}" class="thumb-img">
              <img src="images/ex/th-292x204-3.jpg" alt="$TITLE">
            </a>
            <div class="wrap-short-detail">
              <h3 class="rs acticle-title"><a href="#!/script/{{max_funded_product.productId}}" class="be-fc-orange">{{max_funded_product.title}}</a></h3>
              <p class="rs tiny-desc">by <a class="fw-b fc-gray be-fc-orange">{{max_funded_product.creatorName}}</a> in <span class="fw-b fc-gray">{{max_funded_product.location}}</span></p>
              <p class="rs title-description">{{max_funded_product.shortDescription}}.</p>
            </div>
            <p class="rs clearfix comment-view">
              <a href="#" class="fc-gray be-fc-orange">75 comments</a>
              <span class="sep">|</span>
              <a href="#" class="fc-gray be-fc-orange">378 views</a>
            </p>
          </div>
        </div>
        <div class="bottom-project-info clearfix">
          <div class="project-progress">
            <raphael-gauge id="gauge1" config="gauge"></raphael-gauge>
            <span class="val-progress">{{gauge.value}}%</span>
          </div>
          <div class="group-fee clearfix">
            <div class="fee-item">
              <p class="rs lbl">Investors</p>
              <span class="val">{{max_funded_product.investors}}</span>
            </div>
            <div class="sep"></div>
            <div class="fee-item">
              <p class="rs lbl">Connections</p>
              <span class="val">{{max_funded_product.connections}}</span>
            </div>
            <div class="sep"></div>
            <div class="fee-item">
              <p class="rs lbl">Recommendations</p>
              <span class="val">{{max_funded_product.recommendations}}</span>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div -->

<div class="home-popular-project">
  <div class="container_12">
    <div class="grid_12 wrap-title">
      <h2 class="common-title">Projects</h2>
      <a href="http://www.dmca.com/Protection/Status.aspx?ID=ce93d1ab-09d9-4da4-917c-10f9e3eda844" title="DMCA.com Protection Status" class="dmca-badge count-project be-fc-orange"> <img src ="//images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=ce93d1ab-09d9-4da4-917c-10f9e3eda844"  alt="DMCA.com Protection Status" /></a>
    </div>
    <div class="clear"></div>
    <div class="lst-popular-project clearfix">
      <div class="grid_3" ng-repeat="product in products">
        <div class="project-short sml-thumb">
          <div class="top-project-info">
            <div class="content-info-short clearfix">
              <a href="#!/script/{{product.productId}}" class="thumb-img">
                <img ng-src="{{product.coverImage}}" alt="$TITLE">
              </a>
              <div class="wrap-short-detail">
                <h3 class="rs acticle-title"><a href="#!/script/{{product.productId}}" class="be-fc-orange">{{product.title}}</a></h3>
                <p class="rs tiny-desc">by <a class="fw-b fc-gray be-fc-orange">{{product.creatorName}}</a></p>
                <p class="rs title-description">{{product.summary}}.</p>
                <p class="rs project-location">
                  <i class="icon iLocation"></i>
                  {{product.location}}
                  <a href="#!/script-wall/{{product.productId}}" class="label label-primary pull-right">view wall</a>
                </p>
              </div>
            </div>
          </div>
          <div class="bottom-project-info clearfix">
            <div class="line-progress">
              <div class="bg-progress">
                <span class="success" style="width: 60%"></span>
              </div>
            </div>
            <div class="group-fee clearfix">
              <div class="fee-item">
                <p class="rs lbl">Progress</p>
                <span class="val">60%</span>
              </div>
              <div class="sep"></div>
              <div class="fee-item">
                <p class="rs lbl">Connections</p>
                <span class="val">{{product.connections}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="postloader text-center">
      <a class="btn btn-lg btn-default" a-disabled="lazyLoadScripts" ng-click="loadMore()">
        <span class="lbl" ng-hide="lazyLoadScripts">Load More</span>
        <span class="lbl" ng-show="lazyLoadScripts"><i class="fa fa-spinner fa-spin"></i> Loading..</span>
      </a>
    </div>
</div>

<div class="container" style="margin-bottom: 5%;">
  <div class="row">
    <div class="row">
      <div class="col-md-9">
        <h3>Jobs</h3>
      </div>
      <div class="col-md-3">
        <div class="controls pull-right hidden-xs">
            <a class="left fa fa-chevron-left btn btn-success" a-disabled="prevJobList" ng-click="prevJobs()"></a>
            <a class="right fa fa-chevron-right btn btn-success" a-disabled="nextJobList" ng-click="nextJobs()"></a>
        </div>
      </div>
    </div>
    <div id="carousel-example" class="carousel slide hidden-xs" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
            <div class="row">
              <div class="col-sm-3" ng-repeat="job in jobs">
                <div class="col-item">
                  <div class="info">
                    <div class="row">
                      <div class="col-md-12"><h4>{{ job.title }}</h4></div>
                    </div>
                    <div class="row">
                      <div class="price col-md-4">
                        <h5 class="price-text-color"><i class="fa fa-map-marker"></i>&nbsp;{{ job.location}}</h5>
                        <h5 class="price-text-color"><i class="fa fa-clock-o"></i>&nbsp;{{ job.postedOn }}</h5>
                      </div>
                      <div class="rating hidden-sm col-md-6">
                        <h5>{{ job.jobType}}</h5>
                      </div>
                    </div>
                    <div class="separator clear-left">
                      <p class="btn-add">
                        <i class="fa fa-file"></i><a href="#!/script/{{ job.scriptId }}" class="hidden-sm">{{ job.scriptTitle }}</a></p>
                      <p class="btn-details">
                        <i class="fa fa-list"></i><a href="#!/jobs/{{ job.scriptId }}/{{ job.id }}" class="hidden-sm">More details</a></p>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
