<div class="layout-2cols register-section" ng-show="isAuthenticated()">
  <div class="content grid_12">
    <div class="project-detail">
      <div class="project-tab-detail tabbable accordion">
        <ul class="nav nav-tabs clearfix">
          <li ng-repeat="tab in roles" ng-class="{active:isActiveTab(tab.template)}" ng-click="onClickTab(tab)">
            <a href="">{{tab.name}}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div ng-include="currentTab"></div>

          <script type="text/ng-template" id="account.tpl.html">
            <div class="tab-pane accordion-content active update-form">
              <form ng-submit="registerUser(user)" name="register">
                <div class="form login-form">
                    <div class="box-white">
                      <h4 class="rs title-box">Account details</h4>
                      <div class="form-action">
                        <label for="txt_name">
                          <input id="txt_name" class="txt fill-width" ng-model="user.name" type="text" placeholder="Enter full name">
                        </label>
                        <label for="txt_name">
                          <input id="txt_username" class="txt fill-width" ng-model="user.username" type="text" placeholder="Enter your username will be used for login">
                        </label>
                        <div class="wrap-2col clearfix">
                          <div class="col">
                            <label for="txt_email">
                              <input id="txt_email" class="txt fill-width" ng-model="user.email" type="email" placeholder="Enter e-mail address">
                            </label>
                            <label for="phone">
                              <input id="phone" class="txt fill-width" ng-model="user.phone" type="text" placeholder="Enter phone number">
                            </label>
                          </div>
                        </div>
                        <div class="wrap-2col clearfix">
                          <div class="col">
                            <label for="location">
                              <select class="txt fill-width user-location" ng-model="user.location" ng-options="locations.name for locations in locations track by locations.id" required>
                                <option value="" disabled selected>--select location--</option>
                              </select>
                            </label>
                            <label for="pin_code">
                              <input id="pin_code" class="txt fill-width" ng-model="user.postalCode" type="text" placeholder="Enter pin code">
                            </label>
                          </div>
                          <div class="col">
                            <label for="txt_email">
                              <textarea class="txt fill-width" name="txt_bio" ng-model="user.address" id="txt_bio" cols="30" rows="10" placeholder="enter your full address"></textarea>
                            </label>
                          </div>
                        </div>
                        <div class="wrap-2col clearfix">
                          <div class="col"></div>
                          <div class="col"></div>
                        </div>
                      </div>
                    </div>
                </div>
                <p class="rs ta-c">
                  <button class="btn btn-red btn-submit-all" type="submit">Update</button>
                </p>
              </form>
            </div>
          </script>

          <script type="text/ng-template" id="general.tpl.html">
            <div class="tab-pane accordion-content active">
              <div class="form form-profile">
                <form name="generalForm" ng-submit="submitGeneral(general)">
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_name1">Name:</label>
                    <div class="val">
                      <input class="txt" type="text" id="txt_name1" value="">
                      <p class="rs description-input">Your name is displayed on your profile.</p>
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Designation:</label>
                    <div class="val">
                      <input class="txt" type="text" id="designation" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="phone_number">Phone Number:</label>
                    <div class="val">
                      <input class="txt" type="text" id="phone" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Email:</label>
                    <div class="val">
                      <input class="txt" type="email" id="email" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Url:</label>
                    <div class="val">
                      <input class="txt" type="url" id="url" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Reference:</label>
                    <div class="val">
                      <input class="txt" type="text" id="reference" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Biography:</label>
                      <div class="val">
                        <textarea class="txt fill-width" name="txt_bio" id="txt_bio" cols="30" rows="10">
                        </textarea>
                        <p class="rs description-input">We suggest a short bio. If it’s 300 characters or less it’ll look great on your profile.</p>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Keywords:</label>
                    <div class="val">
                      <textarea class="txt fill-width" name="txt_bio" id="txt_bio" cols="30" rows="5">
                      </textarea>
                      <p class="rs description-input">We suggest a short bio. If it’s 300 characters or less it’ll look great on your profile.</p>
                    </div>
                  </div>
                  <p class="wrap-btn-submit rs ta-r">
                    <button class="btn btn-red btn-submit-all" type="submit">Save</button>
                  </p>
                </form>
              </div>
            </div>
          </script>

          <script type="text/ng-template" id="actor-actress.tpl.html">
            <div class="tab-pane accordion-content active">
              <div class="form form-profile">
                <form name="actorForm" ng-submit="submitActor(actor)">
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_name1">Name:</label>
                    <div class="val">
                      <input class="txt" type="text" id="txt_name1" value="">
                      <p class="rs description-input">Your name is displayed on your profile.</p>
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="phone_number">Phone Number:</label>
                    <div class="val">
                      <input class="txt" type="text" id="phone" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Email:</label>
                    <div class="val">
                      <input class="txt" type="email" id="email" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Url:</label>
                    <div class="val">
                      <input class="txt" type="url" id="url" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Reference:</label>
                    <div class="val">
                      <input class="txt" type="text" id="reference" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Biography:</label>
                      <div class="val">
                        <textarea class="txt fill-width" name="txt_bio" id="txt_bio" cols="30" rows="10">
                        </textarea>
                        <p class="rs description-input">We suggest a short bio. If it’s 300 characters or less it’ll look great on your profile.</p>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Keywords:</label>
                    <div class="val">
                      <textarea class="txt fill-width" name="txt_bio" id="txt_bio" cols="30" rows="5">
                      </textarea>
                      <p class="rs description-input">We suggest a short bio. If it’s 300 characters or less it’ll look great on your profile.</p>
                    </div>
                  </div>
                  <p class="wrap-btn-submit rs ta-r">
                    <button class="btn btn-red btn-submit-all" type="submit">Save</button>
                  </p>
                </form>
              </div>
            </div>
          </script>

          <script type="text/ng-template" id="producer.tpl.html">
            <div class="tab-pane accordion-content active">
              <div class="form form-profile">
                <form name="producerForm" ng-submit="submitProducer(producer)">
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_name1">Name:</label>
                    <div class="val">
                      <input class="txt" type="text" id="txt_name1" value="">
                      <p class="rs description-input">Your name is displayed on your profile.</p>
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="phone_number">Phone Number:</label>
                    <div class="val">
                      <input class="txt" type="text" id="phone" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Email:</label>
                    <div class="val">
                      <input class="txt" type="email" id="email" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Url:</label>
                    <div class="val">
                      <input class="txt" type="url" id="url" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="company_name">Company Name:</label>
                    <div class="val">
                      <input class="txt" type="text" id="company_name" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Summary:</label>
                      <div class="val">
                        <textarea class="txt fill-width" name="txt_bio" id="txt_bio" cols="30" rows="10">
                        </textarea>
                        <p class="rs description-input">We suggest a short summary. If it’s 300 characters or less it’ll look great on your profile.</p>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Keywords:</label>
                    <div class="val">
                      <textarea class="txt fill-width" name="txt_bio" id="txt_bio" cols="30" rows="5">
                      </textarea>
                      <p class="rs description-input">We suggest a short bio. If it’s 300 characters or less it’ll look great on your profile.</p>
                    </div>
                  </div>
                  <p class="wrap-btn-submit rs ta-r">
                    <button class="btn btn-red btn-submit-all" type="submit">Save</button>
                  </p>
                </form>
              </div>
            </div>
          </script>

          <script type="text/ng-template" id="director.tpl.html">
            <div class="tab-pane accordion-content active">
              <div class="form form-profile">
                <form name="directorForm" ng-submit="submitDirector(director)">
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_name1">Name:</label>
                    <div class="val">
                      <input class="txt" type="text" id="txt_name1" value="">
                      <p class="rs description-input">Your name is displayed on your profile.</p>
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="phone_number">Phone Number:</label>
                    <div class="val">
                      <input class="txt" type="text" id="phone" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Email:</label>
                    <div class="val">
                      <input class="txt" type="email" id="email" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Url:</label>
                    <div class="val">
                      <input class="txt" type="url" id="url" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_time_zone">Reference:</label>
                    <div class="val">
                      <input class="txt" type="text" id="reference" value="">
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Biography:</label>
                      <div class="val">
                        <textarea class="txt fill-width" name="txt_bio" id="txt_bio" cols="30" rows="10">
                        </textarea>
                        <p class="rs description-input">We suggest a short bio. If it’s 300 characters or less it’ll look great on your profile.</p>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Keywords:</label>
                    <div class="val">
                      <textarea class="txt fill-width" name="txt_bio" id="txt_bio" cols="30" rows="5">
                      </textarea>
                      <p class="rs description-input">We suggest a short bio. If it’s 300 characters or less it’ll look great on your profile.</p>
                    </div>
                  </div>
                  <p class="wrap-btn-submit rs ta-r">
                    <button class="btn btn-red btn-submit-all" type="submit">Save</button>
                  </p>
                </form>
              </div>
            </div>
          </script>
          </div>
        </div><!--end: .project-tab-detail -->
      </div>
    </div><!--end: .content -->
    <div class="clear"></div>
</div>

<div class="layout-2cols register-section" ng-hide="isAuthenticated()">
<p>sorry you are not authorized! Kindly login</p>
</div>
