<div class="layout-2cols">
  <div class="content grid_8">
    <div class="project-detail">
      <h2 class="rs project-title">{{details.productDetails.title}}</h2>
      <p class="rs post-by">by <a href="#">{{details.productDetails.creatorName}}</a></p>
      <div class="project-short big-thumb">
        <div class="top-project-info">
          <div class="content-info-short clearfix">
            <div class="thumb-img">
              <img ng-src="{{details.productDetails.coverImage}}" alt="">
            </div>
          </div>
        </div><!--end: .top-project-info -->
        <div class="bottom-project-info clearfix">
          <div class="project-progress">
            <raphael-gauge id="gauge1" config="gauge"></raphael-gauge>
            <span class="val-progress">{{gauge.value}}%</span>
          </div>
          <div class="group-fee clearfix">
            <div class="fee-item">
              <p class="rs lbl">Investors</p>
              <a href=""><span class="val">{{details.investors.count}}</span></a>
            </div>
            <div class="sep"></div>
            <div class="fee-item">
              <p class="rs lbl">Recommendations</p>
              <a href=""><span class="val">{{details.recommendations.count}}</span></a>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <div class="project-tab-detail tabbable accordion">
        <ul class="nav nav-tabs clearfix">
          <li class="active"><a href="#">About</a></li>
          <li><a href="#" class="be-fc-orange">Investers</a></li>
          <!-- <li><a href="#" class="be-fc-orange">Discussions</a></li> -->
          <li><a href="#" class="be-fc-orange">Connections</a></li>
        </ul>
        <div class="tab-content">
          <div>
            <h3 class="rs alternate-tab accordion-label">About</h3>
            <div class="tab-pane active accordion-content">
              <div class="editor-content">
                <h3 class="rs title-inside">{{details.productDetails.title}}</h3>
                <p class="rs post-by">by <a href="#" class="fw-b fc-gray be-fc-orange">{{details.productDetails.creatorName}}</a> in <span class="fw-b fc-gray">{{details.productDetails.location}}</span></p>
                <p><span class="fw-b fc-gray">#{{details.productDetails.uniqueId}}</span></p>
                <p><span class="fw-b fc-gray">Summary: </span>{{details.productDetails.summary}}</p>
                <p><span class="fw-b fc-gray">Short Description: </span><div ng-bind-html="details.productDetails.shortDescription"></div></p>
                <div class="social-sharing">
                  <!-- AddThis Button BEGIN -->
                  <div class="addthis_toolbox addthis_default_style">

                    <a class="addthis_counter addthis_pill_style"></a>
                    <div class="atclear"></div></div>
                  </div>
                </div>
              </div><!--end: .tab-pane(About) -->
            </div>
            <div>
              <h3 class="rs alternate-tab accordion-label">Investers</h3>
              <div class="tab-pane accordion-content">
                <div class="tab-pane-inside">
                  <div class="project-author pb20" ng-repeat="investor in details.investors.list">
                    <div class="media">
                      <a href="#" class="thumb-left">
                        <img src="images/ex/th-90x90-1.jpg" alt="$USER_NAME">
                      </a>
                      <div class="media-body">
                        <h4 class="rs pb10"><a href="#" class="be-fc-orange fw-b">{{investor.name}}</a></h4>
                        <p class="rs">{{investor.location}}</p>
                      </div>
                    </div>
                  </div><!--end: .project-author -->
                </div>
              </div><!--end: .tab-pane(Backers) -->
            </div>

            <!-- <div>
              <h3 class="rs active alternate-tab accordion-label">Discussion</h3>
              <div class="tab-pane accordion-content">
                <dir-disqus disqus-shortname="anaoh"
                    disqus-identifier="{{ details.productDetails.productId }}"
                    disqus-url="{{ details.productDetails.url }}">
                </dir-disqus>
              </div>
            </div> -->

            <div>
              <h3 class="rs active alternate-tab accordion-label">Connections</h3>
              <div class="tab-pane accordion-content">
                <div class="tab-pane-inside">
                  <div class="project-author pb20" ng-repeat="connection in details.connections">
                    <div class="media">
                      <a href="#" class="thumb-left">
                        <img src="images/ex/th-90x90-1.jpg" alt="$USER_NAME">
                      </a>
                      <div class="media-body">
                        <h4 class="rs pb10"><a href="#" class="be-fc-orange fw-b">{{connection.name}}</a></h4>
                        <p class="rs">{{connection.email}}</p>
                      </div>
                    </div>
                  </div><!--end: .project-author -->
                </div>
              </div>
            </div>
          </div>
        </div><!--end: .project-tab-detail -->
      </div>
    </div><!--end: .content -->
    <div class="sidebar grid_4">
      <div class="project-runtime">
        <div class="box-gray">
          <div class="project-date clearfix">
            <i class="icon iCalendar"></i>
            <span class="val"><span class="fw-b">Launched: </span>Apr 8, 2013</span>
          </div>

          <!-- <a class="btn btn-green btn-buck-project" ng-click="appointmentModal()">
            <span class="lbl">Appointment</span>
            <span class="desc">talk with director</span>
          </a> -->

          <a class="btn btn-green btn-buck-project" ng-click="showInvestmentPanel = ! showInvestmentPanel"><i class="fa fa-inr fa-2x"></i> Invest on script</a>
          <div class="box-gray" ng-show="showInvestmentPanel">
            <h4>Make an Investment</h4>
            <div class="form-group">
              <input class="form-control" type="text" name="date" ng-model="invest.amount" placeholder="enter an amount in INR">
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="remarks if any" ng-model="invest.remarks"></textarea>
            </div>
            <a class="btn btn-default btn-block" a-disabled="investmentProgress" ng-click="makeInvestment(invest)">
              <span class="lbl" ng-hide="investmentProgress"> Submit</span>
              <span class="lbl" ng-show="investmentProgress"><i class="fa fa-spinner fa-spin"></i> Loading..</span>
            </a>
          </div>
          <div class="strike"><span>OR</span></div>
          <a class="btn btn-green btn-buck-project" ng-click="showAppointmentPanel = ! showAppointmentPanel"><i class="fa fa-weixin fa-2x"></i> Talk with director</a>

          <div class="box-gray" ng-show="showAppointmentPanel">
            <h4>Make an Appointment</h4>
            <div class="form-group">
              <input class="form-control" ng-flat-datepicker type="text" name="date" ng-model="appointment.date" datepicker-config="datepickerConfig" placeholder="choose a date">
            </div>
            <div class="form-group">
              <textarea class="form-control" placeholder="remarks if any" ng-model="appointment.remarks"></textarea>
            </div>
            <a class="btn btn-default btn-block" a-disabled="appointmentProgress" ng-click="makeAppointment(appointment)">
              <span class="lbl" ng-hide="appointmentProgress"> Submit</span>
              <span class="lbl" ng-show="appointmentProgress"><i class="fa fa-spinner fa-spin"></i> Loading..</span>
            </a>
          </div>

          <a class="btn btn-black btn-buck-project" ng-click="recommedModal()">
            <span class="lbl"><i class="fa fa-thumbs-o-up"></i> Recommend</span>
          </a>
          <a class="btn btn-black btn-buck-project" a-disabled="loading" ng-hide="isAuthor" ng-click="connect()">
            <span class="lbl" ng-hide="loading"><i class="fa fa-users"></i> Connect</span>
            <span class="lbl" ng-show="loading"><i class="fa fa-spinner fa-spin"></i> Loading..</span>
          </a>
        </div>
      </div><!--end: .project-runtime -->
      <div class="project-author" ng-hide="isAuthenticated() && isAuthor">
        <div class="box-gray">
          <h3 class="title-box">Project by</h3>
          <div class="media">
            <a href="#" class="thumb-left">
              <img src="images/ex/th-90x90-1.jpg" alt="$USER_NAME">
            </a>
            <div class="media-body">
              <h4 class="rs pb10"><a href="#" class="be-fc-orange fw-b">{{details.productDetails.creatorName}}</a></h4>
              <p class="rs">{{details.productDetails.location}}</p>
            </div>
          </div>
          <div class="author-action">
            <a class="btn btn-red" href="mailto:{{details.productDetails.creatorEmail}}">Contact me</a>
            <a class="btn btn-white" href="#">See full bio</a>
          </div>
        </div>
      </div><!--end: .project-author -->
      <div class="clear clear-2col"></div>
      <div class="wrap-nav-pledge">
        <ul class="rs nav nav-pledge accordion">
          <li ng-show="isAuthenticated() && isAuthor">
            <div class="pledge-label accordion-label clearfix">
              <i class="icon iPlugGray"></i>
              <span class="pledge-amount">Connections Request</span>
              <span class="count-val">({{connectionRequests.count}})</span>
            </div>
            <div class="pledge-content accordion-content">
              <div class="pledge-detail">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>User</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="request in connectionRequests.list">
                    <td>{{request.user}}</td>
                    <td>
                      <a class="btn btn-black" a-disabled="approveRequest" ng-click="approve(request,$index)">
                        <span class="lbl"><i class="fa fa-plus"></i> Approve</span>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
          </li><!--end: pledge-item -->
          <li>
            <div class="pledge-label accordion-label clearfix">
              <i class="icon iPlugGray"></i>
              <span class="pledge-amount">Jobs</span>
              <span class="count-val">({{details.jobs.count}})</span>
            </div>
            <div class="pledge-content accordion-content">
              <div class="pledge-detail">
              <table class="table table-bordered">
                <tbody>
                  <tr ng-repeat="job in details.jobs.list">
                    <td><a href="#!/jobs/{{ job.id }}">{{job.title}}</a></td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>
          </li><!--end: pledge-item -->
        </ul>
      </div><!--end: .wrap-nav-pledge -->
    </div><!--end: .sidebar -->
    <div class="clear"></div>

    <!--start: .modals-->
    <modal-dialog show='recommendModalShown' width='500px' height='450px'>
      <div class="overlay-bl-bg"></div>
      <div class="container_12 pop-content">
        <div class="grid_6">
          <div class="form login-form">
            <form ng-submit="submit(user)">
              <h3 class="rs title-form">Recommendation</h3>
              <div class="box-white">
                <h4 class="rs title-box">Give your recommendation</h4>
                <div class="form-action">
                  <label for="txt_email_login">
                      <angular-star-rating max="maxValue" value='recommend.ratingValue'  hover='changeOnHover' is-readonly='isReadonly'></angular-star-rating>
                      {{recommend.ratingValue}} / {{maxValue}}
                  </label>
                  <label for="txt_email_login">
                  <textarea class="txt fill-width" name="txt_recommendation" ng-model="recommend.comment" id="txt_recommendation" cols="30" rows="10" placeholder="brief views about the script"></textarea>
                  </label>
                  <p class="rs ta-c pb10">
                    <button class="btn btn-black btn-submit" type="submit" ng-click="giveRecommend(recommend)">Submit</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </modal-dialog>

    <modal-dialog show='appointmentModalShown' width='500px' height='450px'>
      <div class="overlay-bl-bg"></div>
      <div class="container_12 pop-content">
        <div class="grid_6">
          <div class="form login-form">
            <form>
              <h3 class="rs title-form">Appointment</h3>
              <div class="box-white">
                <h4 class="rs title-box">Choose an appoinment date and with details</h4>
                <div class="form-action">
                  <label for="txt_email_login">
                    <input ng-flat-datepicker type="text" name="date" ng-model="date" datepicker-config="datepickerConfig" placeholder="choose a date">
                  </label>
                  <label for="txt_email_login">
                  <textarea class="txt fill-width" name="txt_recommendation" ng-model="appoinment.details" id="txt_recommendation" cols="30" rows="10" placeholder="details about appoinment"></textarea>
                  </label>
                  <p class="rs ta-c pb10">
                    <button class="btn btn-black btn-submit" type="submit" ng-click="makeAppoinment(appoinment)">Submit</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </modal-dialog>

    <modal-dialog show='investModalShown' width='500px' height='450px'>
      <div class="overlay-bl-bg"></div>
      <div class="container_12 pop-content">
        <div class="grid_6">
          <div class="form login-form">
            <form>
              <h3 class="rs title-form">Investment</h3>
              <div class="box-white">
                <h4 class="rs title-box">Make an investment of script</h4>
                <div class="form-action">
                  <label for="txt_email_login">
                  </label>
                  <label for="txt_email_login">
                  <textarea class="txt fill-width" name="txt_recommendation" ng-model="invest.details" id="txt_recommendation" cols="30" rows="10" placeholder="details about investment"></textarea>
                  </label>
                  <p class="rs ta-c pb10">
                    <button class="btn btn-black btn-submit" type="submit" ng-click="makeInvest(invest)">Submit</button>
                  </p>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </modal-dialog>
    <!--end: .modals -->
  </div>
