<div class="layout-2cols dashboard-section" ng-show="isAuthenticated()">
  <div class="content grid_12">
    <div class="project-detail">
      <div class="project-tab-detail tabbable accordion">
        <ul class="nav nav-tabs clearfix">
          <li>
            <a href="">Start your awesome idea here</a>
          </li>
        </ul>
        <div class="tab-content">
          <div ng-include="currentTab"></div>
            <div class="tab-pane accordion-content active">
              <form ng-submit="createScript(script)" name="script">
                <div class="form form-post-job">
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_name1">Script Title:</label>
                    <div class="val">
                      <input class="txt" type="text" id="txt_name1" ng-model="script.title" value="" required>
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_name1">Script Budget:</label>
                    <div class="val">
                      <input class="txt" type="text" id="txt_name1" ng-model="script.budget" value="" required>
                      <p class="rs description-input">Approximate budget for your script in INR</p>

                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Create Script As:</label>
                      <div class="val">
                        <select class="txt fill-width" ng-model="script.role" ng-options="associatedRoles.roleName for associatedRoles in associatedRoles track by associatedRoles.userRoleId" required>
                          <option value="" disabled selected>select your role</option>
                        </select>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Language:</label>
                      <div class="val">
                        <select class="txt fill-width" ng-model="script.language" ng-options="languages.name for languages in languages track by languages.id" required>
                          <option value="" disabled selected>select language of your script</option>
                        </select>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Script Location:</label>
                      <div class="val">
                        <select class="txt fill-width" ng-model="script.location" ng-options="locations.name for locations in locations track by locations.id" required>
                          <option value="" disabled selected>select location</option>
                        </select>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Genre of script:</label>
                      <div class="val">
                        <select class="txt fill-width" ng-model="script.genre" ng-options="genres.name for genres in genres track by genres.id" required>
                          <option value="" disabled selected>select genre OR category</option>
                        </select>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Summary:</label>
                      <div class="val">
                        <textarea class="txt fill-width" name="txt_desc" ng-model="script.summary" id="txt_desc" cols="20" rows="10" required>
                        </textarea>
                        <p class="rs description-input">A short summary, keypoints about your script</p>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Description:</label>
                      <div class="val">
                        <!-- <textarea class="txt fill-width" name="txt_desc" ng-model="script.description" id="txt_desc" cols="30" rows="10" required>
                        </textarea> -->
                        <div class="row">
                          <div text-angular ta-toolbar="[['h5', 'h6', 'p', 'pre', 'quote'],['bold','italics','underline','ul','ol']]" ng-model="script.description"></div>
                        </div>
                        <p class="rs description-input">We suggest a description. If it’s 300 characters or less it’ll look great on your script page.</p>
                      </div>
                  </div>
                </div>
                <p class="rs ta-c">
                  <button class="btn big btn-red" type="submit">SUBMIT</button>
                </p>
              </form>
            </div>
        </div>
      </div><!--end: .project-tab-detail -->
    </div>
  </div><!--end: .content -->
  <div class="clear"></div>
</div>
<div class="layout-2cols register-section" ng-hide="isAuthenticated()">
<p>sorry you are not authorized! Kindly login</p>
</div>
