<div class="layout-2cols dashboard-section" ng-show="isAuthenticated()">
  <div class="content grid_12">
    <div class="project-detail">
      <div class="project-tab-detail tabbable accordion">
        <ul class="nav nav-tabs clearfix">
          <li>
            <a href="">Post your job</a>
          </li>
        </ul>
        <div class="tab-content">
          <div ng-include="currentTab"></div>
            <div class="tab-pane accordion-content active">
              <form ng-submit="createJob(job)" name="createJob">
                <div class="form form-post-job">
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_name1">Job Title:</label>
                    <div class="val">
                      <input class="txt" type="text" id="txt_name1" ng-model="job.title" value="" required>
                    </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Job type:</label>
                      <div class="val">
                        <select class="txt fill-width" ng-model="job.type" ng-options="jobTypes.name for jobTypes in jobTypes track by jobTypes.id" required>
                          <option value="" disabled selected>select your type of job</option>
                        </select>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Job for:</label>
                      <div class="val">
                        <select class="txt fill-width" ng-model="job.script" ng-options="scripts.title for scripts in scripts track by scripts.id" required>
                          <option value="" disabled selected>select your script</option>
                        </select>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Summary:</label>
                      <div class="val">
                        <textarea class="txt fill-width" name="txt_desc" ng-model="job.summary" id="txt_desc" cols="20" rows="10" required>
                        </textarea>
                        <p class="rs description-input">A short summary, keypoints about your job</p>
                      </div>
                  </div>
                  <div class="row-item clearfix">
                    <label class="lbl" for="txt_bio">Description:</label><br>
                      <div class="val">
                        <!-- <textarea class="txt fill-width" name="txt_desc" ng-model="job.description" id="txt_desc" cols="30" rows="10" required>
                        </textarea> -->
                        <div class="row">
                          <div text-angular ta-toolbar="[['h5', 'h6', 'p', 'pre', 'quote'],['bold','italics','underline','ul','ol']]" ng-model="job.description"></div>
                        </div>

                        <p class="rs description-input">We suggest a description. If it’s 300 characters or less it’ll look great on your job page.</p>
                      </div>
                  </div>
                </div>
                <p class="rs ta-c">
                  <button class="btn big btn-red" type="submit">SUBMIT</button>
                </p>
              </form>
            </div>
        </div>
      </div><!--end: .project-tab-detail -->
    </div>
  </div><!--end: .content -->
  <div class="clear"></div>
</div>
<div class="layout-2cols register-section" ng-hide="isAuthenticated()">
<p>sorry you are not authorized! Kindly login</p>
</div>
