<div class="container_12">
<h1>{{ job.title}}</h1>
    <div class="lst-popular-project clearfix">
      <div class="grid_12">
        <div class="project-short sml-thumb">
          <div class="top-project-info">
            <div class="content-info-short clearfix">
              <div class="wrap-short-detail">
                <p class="rs tiny-desc">by <a class="fw-b fc-gray be-fc-orange">{{ job.author }}&nbsp;</a><i class="icon iLocation"></i>&nbsp;{{job.location}}</p>
                <p><b>Posted on: </b>{{job.postedOn}}</p>
                <p><b>Job Type: </b>{{job.jobType}}</p>
                <p class="rs title-description"><b>Summary: </b>{{job.summary}}.</p>
                <p><b>Description: </b></p>
                <p ng-bind-html="job.description"></p>
              </div>
            </div>
          </div>
          <div class="bottom-project-info clearfix">
            <p><h4>Apply for this job</h4>
            <a class="btn btn-white" ng-click="showInstructions = ! showInstructions">Show instructions</a></p>
            <div class="group-fee clearfix" ng-show="showInstructions">
              <p><h5>Include your full CV with contact details</h5></p>
              <div text-angular ng-model="resume"></div>
              <p style="float:right;margin-top:2%">
                <button class="btn btn-lg btn-default" ng-click="applyJob()">Apply</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
