<div class="home-popular-project">
  <div class="container_12">
    <div class="grid_12 wrap-title">
      <h2 class="common-title">Jobs</h2>
    </div>
    <div class="clear"></div>
    <div class="lst-popular-project clearfix">
      <div class="grid_3" ng-repeat="job in jobs">
          <div class="project-short sml-thumb">
            <div class="top-project-info">
              <div class="content-info-short clearfix">
                  <div class="wrap-short-detail">
                    <h3 class="rs acticle-title"><a href="#!/jobs/{{job.id}}" class="be-fc-orange">{{job.title}}</a></h3>
                    <p class="rs tiny-desc">by <a class="fw-b fc-gray be-fc-orange">{{ job.author }}</a></p>
                    <p><b>Posted on: </b>{{job.postedOn}}</p>
                    <p><b>Job Type: </b>{{job.jobType}}</p>
                    <p class="rs title-description"><b>Summary: </b>{{job.summary}}.</p>
                    <p class="rs project-location">
                      <i class="icon iLocation"></i>
                      {{job.location}}
                      <a href="#!/jobs/{{job.id}}" class="label label-primary pull-right">view details</a>
                    </p>
                  </div>
              </div>
            </div>
            <div class="bottom-project-info clearfix">
              <div class="group-fee clearfix">
                <div class="fee-item">
                  <b>Script: </b><a href="#!/script/{{job.scriptId}}">{{ job.scriptTitle}}</a>
                </div>
                <div class="sep"></div>
                <div class="fee-item"></div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
    <div class="postloader text-center">
      <a class="btn btn-lg btn-default" a-disabled="lazyLoadScripts" ng-click="loadMore()">
        <span class="lbl" ng-hide="lazyLoadScripts">Load More</span>
        <span class="lbl" ng-show="lazyLoadScripts"><i class="fa fa-spinner fa-spin"></i> Loading..</span>
      </a>
    </div>
</div>
